$clr-text: hsl(0, 0%, 88%);
$clr-bg: hsl(0, 0%, 15%);
$clr-primary-very-light: hsl(203, 51%, 37%);
$clr-primary-light: hsl(203, 51%, 27%);
$clr-primary-dark: rgb(22, 50, 67);

$m-xs: 8px;
$m-sm: 16px;
$m-md: 24px;
$m-lg: 32px;
$m-xl: 48px;
$m-2xl: 64px;

$p-xs: 8px;
$p-sm: 16px;
$p-md: 24px;
$p-lg: 32px;
$p-xl: 48px;
$p-2xl: 64px;

$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 48px;
$space-2xl: 64px;

$fs-xs: 14px;
$fs-sm: 16px;
$fs-md: 20px;
$fs-lg: 24px;
$fs-xl: 36px;
$fs-2xl: 48px;
$fs-3xl: 64px;

$radius-sm: 8px;
$radius-md: 16px;

$border-primary: 2px solid hsl(203, 51%, 37%);